{
  email {{ caddy_acme_email }}
  default_sni {{ app_public_ip }}
  acme_ca https://acme.zerossl.com/v2/DV90
  acme_ca https://acme-v02.api.letsencrypt.org/directory
}

{% set app_domain_is_ipv4 = app_domain | regex_search('^\d+\.\d+\.\d+\.\d+$') %}
{% set app_domain_equals_public_ip = app_domain == app_public_ip %}

https://{{ app_public_ip }} {
  tls internal
  encode gzip zstd
  reverse_proxy web:8000
}

http://{{ app_public_ip }} {
  encode gzip zstd
  reverse_proxy web:8000
}
{% if not app_domain_equals_public_ip %}
{% if app_domain_is_ipv4 %}
https://{{ app_domain }} {
  tls internal
  encode gzip zstd
  reverse_proxy web:8000
}

http://{{ app_domain }} {
  encode gzip zstd
  reverse_proxy web:8000
}
{% else %}
{{ app_domain }} {
  encode gzip zstd
  reverse_proxy web:8000
}
{% endif %}
{% endif %}
